<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13915332767-arc3pgscqgvfq1hd4ukeqiglehckud1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13915332767-arc3pgscqgvfq1hd4ukeqiglehckud1r</string>
	<key>API_KEY</key>
	<string>AIzaSyB4cqV1cNk5qKFClYWvUA-M-wLPOOSM_AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13915332767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.manojproject</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-c5a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-c5a1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13915332767:ios:cf2264f06f48a4385b82aa</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfirebase-c5a1b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>